/bin/
/dist/
/build/
/tests/tmp/
/tests/fuzz-artifacts/
/bench/data/
/bench/generated/
/node_modules/
/.cache/
/packaging/docker/amd64/
/packaging/docker/arm64/
__pycache__/
*.py[cod]
.pytest_cache/
*.profraw
*.dSYM/
